* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(to right, #E5DDD5, #DBDBD3);

}
body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 150px;
  background-color: #009688;
  overflow: visible;

}
#main_container {
  display: flex;
  position: relative;
  z-index: 1;
  width: 70%;
  height: calc(100vh - 30px);
  margin: 15px auto;
}
#left_section {
  width: 30%;
  height: 100%;
  background-color: lime;
}
#right_section {
  width: 70%;
  height: 100%;
  background-color: coral;
}
