* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(to right, #E5DDD5, #DBDBD3);
}
body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 150px;
  background-color: #009688;
  overflow: visible;
}


#main_container {
  display: flex;
  position: relative;
  z-index: 1;
  width: 70%;
  height: calc(100vh - 30px);
  margin: 15px auto;
}
#left_section {
  width: 30%;
  height: 100%;
  background-color: lime;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #EAEAEA;
}
header > div:first-child {
  width: 70%;
  height: 100%;
}
header > div:last-child {
  width: 30%;
  height: 100%;
}
header i {
  font-size: 20px;
  padding: 10px;
  color: #adadad;
}
.img_container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avatar_section {
  display: flex;
  align-items: center;
}
.icon_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#enable_notification {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 15px;
  background-color: #8EDAFC;
}
#enable_notification span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #8EDAFC;
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 5px;

}
#search_contact {
  height: 30px;
  width: 100%;
  background-color: red;
}
#right_section {
  width: 70%;
  height: 100%;
  background-color: coral;
}
